.reviews {
  color: $black;
}
.reviews__heading {
  margin-bottom: 55px;
}
.reviews-list {
  @include reset-list;
}
.reviews__block {
  margin-top: -10px;
  margin-left: auto;
}

.reviews__img {
  display: flex;
  min-width: 249px;
}
.reviews__content {
  padding: 30px 70px;
  border: 1px solid #e5ddd5;
}
.reviews__title {
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 27px;
  font-weight: bold;
}