.page-footer__contacts {
  margin-bottom: 20px;
}
.contacts__title {
  font-weight: bold;
}
.contacts__tel {
  color: $white;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  @include phones {
    display: block;
    padding: 15px 0;
    margin: 0 15px;
    margin-top: 20px;
    text-align: center;
    color: $white;
    border: 1px solid rgba($white, 0.1);
    text-decoration: none;

    &:hover {
      border-color: #545454;
      text-decoration: none;
    }

    &:active {
      color: rgba($white, 0.3);
      background-color: #252525;
      border-color: transparent;
    }
  }
}
